<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="robots" content="index, follow" />
    <title>Regal's Gallery | Premium Corporate & Custom Gifts</title>
    <meta name="description" content="Jesco - Fashoin eCommerce HTML Template" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Add site Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon/favicon.ico" type="image/png">

    <!-- vendor css (Icon Font) -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.bundle.min.css" />
    <link rel="stylesheet" href="assets/css/vendor/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="assets/css/vendor/font.awesome.css" />

    <!-- plugins css (All Plugins Files) -->
    <link rel="stylesheet" href="assets/css/plugins/animate.css" />
    <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css" />
    <link rel="stylesheet" href="assets/css/plugins/venobox.css" />
    <link rel="stylesheet" href="assets/css/style.css" />

</head>

<body>
    <div class="header-to-bar"> HELLO EVERYONE! 25% Off All Products </div>

<header>
    <div class="header-main sticky-nav ">
        <div class="container position-relative">
            <div class="row">
                <div class="col-auto align-self-center">
                    <div class="header-logo">
                        <a href="/"><img src="/assets/images/logo/Untitled design.png" alt="Site Logo" style="height: 100px;"/></a>
                    </div>
                </div>
                <div class="col align-self-center d-none d-lg-block">
                    <div class="main-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="dropdown position-static"><a href="/shop-4-column">Shop <i class="pe-7s-angle-down"></i></a>
                                <ul class="mega-menu d-block">
                                    <li class="d-flex">
                                        <ul class="d-block">
                                            <li class="title"><a href="#">Office Essentials</a></li>
                                            <li><a href="/diary">Diary</a></li>
                                            <li><a href="/notes">Notes</a></li>
                                            <li><a href="/planners">Planners</a></li>
                                            <li><a href="/visiting-cards">Visiting Card Holder</a></li>
                                            <li><a href="/name-boards">Desk Name Board</a></li>
                                            <li><a href="/id-cards">ID Card</a></li>
                                            <li><a href="/pens">Pens</a></li>
                                            <li><a href="/paper-weight">Paper Weight</a></li>
                                            <li><a href="/key-holders">Key Holder</a></li>
                                        </ul>
                                        <ul class="d-block">
                                            <li class="title"><a href="#">Drinkware</a></li>
                                            <li><a href="/mug">Mugs</a></li>
                                            <li><a href="/flask">Flasks</a></li>
                                            <li><a href="/water-bottle">Water Bottles</a></li>
                                            <li><a href="/sipper">Sippers</a></li>
                                        </ul>
                                        <ul class="d-block">
                                            <li class="title"><a href="#">Tech Gadgets & Accessories</a></li>
                                            <li><a href="/pendrive">Pendrives</a></li>
                                            <li><a href="/headphone">Wireless Headphones</a></li>
                                            <li><a href="/power-bank">Power Banks</a></li>
                                            <li><a href="/earbuds">Earbuds</a></li>
                                            <li><a href="/mobile-stand">Mobile Stands</a></li>
                                        </ul>
                                        <ul class="d-block">
                                            <li class="title"><a href="#">Recognition & Awards</a></li>
                                            <li><a href="/trophy">Trophies</a></li>
                                            <li><a href="/awards">Awards</a></li>
                                            <li><a href="/certificate">Certificates</a></li>
                                            <li><a href="/badge">Badges</a></li>
                                        </ul>
                                        <ul class="d-block">
                                            <li class="title"><a href="#">Eco-Friendly Products</a></li>
                                            <li><a href="/eco-friendly">Eco-Friendly Gifts</a></li>
                                        </ul>
                                        <ul class="d-block">
                                            <li class="title"><a href="#">Branded Corporate Merchandise</a></li>
                                            <li><a href="/gift-hamper">Gift Hampers</a></li>
                                            <li><a href="/coaster">Coasters</a></li>
                                            <li><a href="/key-chains">Key Chains</a></li>
                                            <li><a href="/wall-art">Wall Art</a></li>
                                            <li><a href="/frames">Frames</a></li>
                                            <li><a href="/clocks">Clock</a></li>
                                        </ul>
                                        <ul class="d-block">
                                            <li class="title"><a href="#">Apparel & Wearables</a></li>
                                            <li><a href="/t-shirt">T-Shirts</a></li>
                                            <li><a href="/cap">Caps</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="/blog-grid">News</a></li>
                            <li><a href="/about">About us</a></li>
                            <li><a href="/contact">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col col-lg-auto align-self-center pl-0">
                    <div class="header-actions">
                        <a href="/login" class="header-action-btn login-btn">Sign In</a>
                        <a href="#" class="header-action-btn" data-bs-toggle="modal" data-bs-target="#searchActive">
                            <i class="pe-7s-search"></i>
                        </a>
                        <a href="#offcanvas-wishlist" class="header-action-btn offcanvas-toggle">
                            <i class="pe-7s-like"></i>
                        </a>
                        <a href="#offcanvas-cart" class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0">
                            <i class="pe-7s-shopbag"></i>
                            <span class="header-action-num">01</span>
                        </a>
                        <a href="#offcanvas-mobile-menu" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                            <i class="pe-7s-menu"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</header>

<div class="offcanvas-overlay"></div>

<!-- OffCanvas Cart End -->

<!-- OffCanvas Menu Start -->
<div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
    <button class="offcanvas-close"></button>

    <div class="inner customScroll">
        <div class="offcanvas-menu mb-4">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/shop-4-column"><span class="menu-text">Shop</span></a>
                <li><a href="/blog-grid">News</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>

        <div class="offcanvas-social mt-auto">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- OffCanvas Menu End -->


<script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
<script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="assets/js/plugins/swiper-bundle.min.js"></script>
<script src="assets/js/plugins/jquery-ui.min.js"></script>
<script src="assets/js/plugins/jquery.nice-select.min.js"></script>
<script src="assets/js/plugins/countdown.js"></script>
<script src="assets/js/plugins/scrollup.js"></script>
<script src="assets/js/plugins/jquery.zoom.min.js"></script>
<script src="assets/js/plugins/venobox.min.js"></script>
<script src="assets/js/plugins/ajax-mail.js"></script>
<script src="/assets/js/main.js"></script>
</body>

</html>