<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="robots" content="index, follow" />
    <title>Jesco - Fashoin eCommerce HTML Template</title>
    <meta name="description" content="Jesco - Fashoin eCommerce HTML Template" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Add site Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon/favicon.ico" type="image/png">

    <!-- vendor css (Icon Font) -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.bundle.min.css" />
    <link rel="stylesheet" href="assets/css/vendor/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="assets/css/vendor/font.awesome.css" />

    <!-- plugins css (All Plugins Files) -->
    <link rel="stylesheet" href="assets/css/plugins/animate.css" />
    <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.min.css" />
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css" />
    <link rel="stylesheet" href="assets/css/plugins/venobox.css" />
    <link rel="stylesheet" href="assets/css/style.css" />

</head>

<body>
    <div class="header-to-bar"> HELLO EVERYONE! 25% Off All Products </div>

<header>
    <div class="header-main sticky-nav ">
        <div class="container position-relative">
            <div class="row">
                <div class="col-auto align-self-center">
                    <div class="header-logo">
                        <a href="/"><img src="/assets/images/logo/Untitled design.png" alt="Site Logo" style="height: 100px;"/></a>
                    </div>
                </div>
                <div class="col align-self-center d-none d-lg-block">
                    <div class="main-menu">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="dropdown position-static"><a href="/shop-4-column">Shop <i class="pe-7s-angle-down"></i></a>
                                <ul class="mega-menu d-block">
                                    <li class="d-flex">
                                        <ul class="d-block">
                                            <li class="title"><a href="#">Shop Page</a></li>
                                            <li><a href="/shop-3-column">Shop 3 Column</a></li>
                                            <li><a href="/shop-4-column">Shop 4 Column</a></li>
                                            <li><a href="/shop-left-sidebar">Shop Left Sidebar</a></li>
                                            <li><a href="/shop-right-sidebar">Shop Right Sidebar</a></li>
                                        </ul>
                                        <ul class="d-block">
                                            <li class="title"><a href="#">Product Details</a></li>
                                            <li><a href="/single-product">Product Single</a></li>
                                            <li><a href="/single-product-variable">Product Variable</a></li>
                                            <li><a href="/single-product-group">Product Group</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="/blog-grid">News</a></li>
                            <li><a href="/about">About us</a></li>
                            <li><a href="/contact">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col col-lg-auto align-self-center pl-0">
                    <div class="header-actions">
                        <a href="/login" class="header-action-btn login-btn">Sign In</a>
                        <a href="#" class="header-action-btn"><i class="pe-7s-search"></i></a>
                        <a href="#offcanvas-wishlist" class="header-action-btn offcanvas-toggle">
                            <i class="pe-7s-like"></i>
                        </a>
                        <a href="#offcanvas-cart" class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0">
                            <i class="pe-7s-shopbag"></i>
                            <span class="header-action-num">01</span>
                        </a>
                        <a href="#offcanvas-mobile-menu" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                            <i class="pe-7s-menu"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</header>

<div class="offcanvas-overlay"></div>

<!-- OffCanvas Cart End -->

<!-- OffCanvas Menu Start -->
<div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
    <button class="offcanvas-close"></button>

    <div class="inner customScroll">
        <div class="offcanvas-menu mb-4">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/shop-4-column"><span class="menu-text">Shop</span></a>
                    <ul class="sub-menu">
                        <li><a href="#"><span class="menu-text">Shop Page</span></a>
                            <ul class="sub-menu">
                                <li><a href="shop-3-column.ejs">Shop 3 Column</a></li>
                                <li><a href="shop-4-column.ejs">Shop 4 Column</a></li>
                                <li><a href="shop-left-sidebar.ejs">Shop Left Sidebar</a></li>
                                <li><a href="shop-right-sidebar.ejs">Shop Right Sidebar</a></li>
                                <li><a href="shop-list-left-sidebar.ejs">Shop List Left Sidebar</a></li>
                                <li><a href="shop-list-right-sidebar.ejs">Shop List Right Sidebar</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><span class="menu-text">Product Details</span></a>
                            <ul class="sub-menu">
                                <li><a href="single-product.ejs">Product Single</a></li>
                                <li><a href="single-product-variable.ejs">Product Variable</a></li>
                                <li><a href="single-product-affiliate.ejs">Product Affiliate</a></li>
                                <li><a href="single-product-group.ejs">Product Group</a></li>
                                <li><a href="single-product-tabstyle-2.ejs">Product Tab 2</a></li>
                                <li><a href="single-product-tabstyle-3.ejs">Product Tab 3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="/blog-grid">News</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>

        <div class="offcanvas-social mt-auto">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<!-- OffCanvas Menu End -->


<script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
<script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="assets/js/plugins/swiper-bundle.min.js"></script>
<script src="assets/js/plugins/jquery-ui.min.js"></script>
<script src="assets/js/plugins/jquery.nice-select.min.js"></script>
<script src="assets/js/plugins/countdown.js"></script>
<script src="assets/js/plugins/scrollup.js"></script>
<script src="assets/js/plugins/jquery.zoom.min.js"></script>
<script src="assets/js/plugins/venobox.min.js"></script>
<script src="assets/js/plugins/ajax-mail.js"></script>
<script src="assets/js/main.js"></script>
</body>

</html>